/* Your CSS here. */
    img{
      margin-top: 10px;
    }
    body{
      color: white;
    }
    h3{
      font-style: oblique;
    }
    #gray,#blue,#red{
      cursor: pointer;
      background-color: white;
      color:black;
      padding:3px;
    }
    .hidden{
      display: none;
    }
    #card{
      justify-content: center;
      background-color: gray;
      width: 750px;
      padding:10px
    }   